/* Primeiro requisito - cor de fundo = rgb(253, 251, 251) */
body {
  background: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  height: 100vh;
}

/* R2 - Cabeçalho fixado no top e Top = 0 */
#cabecalho {
  background-color: rgb(3, 107, 82);
  border-bottom: 8px solid rgb(1, 68, 52);
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  text-align: center;
  z-index: -1 position;
}

#titulo {
  color: white;
  font-size: 4em;
  margin: 2.6vh;
}

a {
  text-decoration: none;
  color: rgb(197, 224, 197);
}

nav {
  background-color: rgb(197, 224, 197);
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: rgb(3, 107, 82);
  text-decoration: none;
  transition: background ease-in-out 0.6s;
  padding: 10px 15px;
}

nav ul li a:hover {
  background-color: rgb(3, 107, 82);
  color: white;
  text-decoration: none;
}

main {
  position: relative;
  height: 60vh;
  z-index: -1;
}

#second-section {
  position: absolute;
  top: 95%;
  left: 48%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

h2 {
  color: rgb(3, 107, 82);
}

.lado-direito {
  margin-left: 4vw;
}

#nome {
  font-size: 2em;
}

#container-table {
  position: relative;
  height: 110vh;
  z-index: -1;
}

#section-table {
  position: absolute;
  top: 57%;
  left: 48%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.first-list {
  display: inline-block;
  align-items: center;
  padding-right: 30px;
}

.first-list ol , .lado-direito-tabela ul {
  list-style: none;
}

footer h2 {
  color: white;
}

.first-list ol li , .lado-direito-tabela ul li {
  text-align: center;
  border: 1px solid;
  margin: 5px 0;
  padding: 0 30px;
}

.first-list h2 {
  background-color: rgb(3, 107, 82);
  border: 1px solid;
  color: rgb(197, 224, 197);
  text-align: center;
}

.lado-direito-tabela {
  display: inline-block;
  align-items: center;
}

.lado-direito-tabela h2 {
  background-color: rgb(3, 107, 82);
  border: 1px solid;
  padding: 1px;
  color: rgb(197, 224, 197);
  text-align: center;
}

#meu-apredizado {
  padding: 30vh 25vw 0 26.5vw;
}

#habilidades-adquiridas {
  padding: 30vh 25vw 30vh 26.5vw;
}

#habilidades-adquiridas h2 {
  text-align: center;
  padding: 10px;
}

#habilidades-adquiridas th {
  border: 1px solid;
  background-color: rgb(3, 107, 82);
  color: white;
}

#habilidades-adquiridas td {
  background-color: rgb(197, 224, 197);
  color: rgb(3, 107, 82);
  padding: 0 10px;
}

footer {
  color: white;
  background-color: rgb(3, 107, 82);
  border-top: rgb(197, 224, 197) 2px solid;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

