/* Primeiro requisito - cor de fundo = rgb(253, 251, 251) */

body{
   background-color: rgb(253, 251, 251); 
}

/* R2 - Cabeçalho fixado no top e Top = 0 */
#cabecalho{
    position: fixed;
    top: 0;
    
}

